.format {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 60px 200px;
}

.format h1{
    text-align: center;
}
.format h2{
    text-align: center;
    margin-bottom: 50px;
}
.format h3{
    margin: 20px 0;
    text-transform: uppercase;
}