.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}

.menu {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 930px) {
    .menu1 {
        display: none;
    }
}

@media screen and (max-width: 530px) {
    .menu2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .menu2 .btn {

        font-size: 20px;

    }
}

@media screen and (max-width: 430px) {
    .menu2 .btn {

        font-size: 15px;

    }
}

@media screen and (max-width: 430px) {
    .menu img {

        height: 70px;

    }
}
@media screen and (max-width: 400px) {
    .menu {
        width: 50%;
    }
}

@media screen and (max-width: 360px) {

    .private-home .chat-list {
        width: 27vw;
    }

    .private-home .list-item {
        width: 27vw;
    }

    .chat-list-header h4 {
        font-size: 16px;
    }
    .chat-item .chat-item-content {
        display:none;
    }
}