:root {
    --main-violet: #9B79B5;
    --main-blue: #2B4999;
    --main-orange: #F4974B;
    --card-height: 85%;
    --card-width: 300px;
}

.match-module {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    height: 450px;
}


.card-container {
    width: var(--card-width);
    min-height: var(--card-height);
    border-radius: 6px;
}

.card-container p {
    position: relative;
    top: 50%;
    font-size: 30px;
    text-align: center;
    justify-content: center;
    color: rgb(196, 192, 192);
    z-index: 0;

}

.card {
    position: absolute;
    top: 0;
    width: var(--card-width);
    height: var(--card-height);
    border-radius: 6px;
    cursor: pointer;
}

.card-background {
    height: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    border: solid 1px var(--main-violet);
    border-radius: 6px;
}


.card-background .informations .nom-entreprise {
    /* text-size-adjust: auto; */
    font-size: larger;
    font-weight: 500;
    width: 50%;
    text-align: center;
    background-color: #2B4999;
    color: #f6f6f6;
    margin-bottom: 5px;

}

.card-background .informations .auteur {
    font-size: larger;
    font-weight: 500;
    width: 60%;
    text-align: center;
    background-color: #2B4999;
    color: #f6f6f6
}

.card-background .informations .resume {

    display: flex;
    flex-direction: column;
    padding: 3px;
    gap: 5px;
    text-align: left;

}

.card-background .informations .res {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.adresse-entreprise .icon {
    position: relative;
    left: 4px;
}

.adresse-entreprise .texte {
    position: relative;
    left: 10px;
}


.card-background .informations {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    height: 100%;
    padding: 10px;
    font-size: 15px;
    font-weight: 500;
}

.card-background .informations .titre {
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 20px;
}

.card-background .informations .description {
    font-size: 20px;
    text-align: center;
    line-height: 20px;
    text-align: justify;
    padding: 5px 30px;
}

.informations .icon {
    height: 20px;
}

.Likedislikemodule {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

}

.round-button {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: solid 3px var(--main-violet);
    background-color: #fdfdfd;
    cursor: pointer;
}

.round-button img {
    height: 30px;
    width: 30px;
}

@media screen and (max-width: 1470px) {
    .match-module {
        left: 25%;
    }
}

@media screen and (max-width: 1180px) {
    .match-module {
        left: 17%;
    }
}

@media screen and (max-width: 1040px) {
    .match-module {
        left: 10%;
    }
}

@media screen and (max-width: 360px) {

    :root {

        --card-width: 235px;
    }

    .match-module {
        margin: 8px;
    }

    .card-background .informations .nom-entreprise{
        width: 70%;
    }
    .card-background .informations .auteur{
        width: 70%;
    }
    .card-background .informations .description{
        font-size: 12px;
        line-height: 1.5;
    }

    /* .chat-window {
        position: absolute;
        left: 3%;
        bottom: 29%;
    } */


}