:root {
  --main-violet: #9B79B5;
  --main-violet-hover: #8448b3;
  --main-blue: #2B4999;
  --main-orange: #F4974B;
}



.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

h1{
  font-size: 68px;
  font-weight: bold;
  margin-bottom: 20px;
}

.btn{
  font-weight: 500;
  font-size: 21px;
}

.text-style-1{
  color:#f1f1f1;
}

.white-divider{
  height: 20px;
  width: 2px;
  background-color: #f1f1f1;
}

.btn-primary {
  color: #fff;
  background-color: var(--main-violet);
  border-color: var(--main-violet);
}

.btn-primary:hover {
  color: #fff;
  background-color: var(--main-violet-hover);
  border-color: var(--main-violet-hover);
}

.btn-outline-warning {
  color: var(--main-orange);
  border-color: var(--main-orange);
}

.btn-check:active+.btn-outline-warning, .btn-check:checked+.btn-outline-warning, .btn-outline-warning.active, .btn-outline-warning.dropdown-toggle.show, .btn-outline-warning:active {
  color: #fff;
  background-color: var(--main-orange);
  border-color: var(--main-orange);
}

#root {
  height: 87vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 100px;
  right: 0;
  bottom: 90px;
  overflow-y: scroll;
}

#root::-webkit-scrollbar {
  width: 12px;
  height: 8px;
  background-color: #e6cafb;
  border-radius: 99px;
}

#root::-webkit-scrollbar-thumb {
  background: var(--main-violet);
  border-radius: 99px;
}

