html{
    min-height: 100vh;

}

body {
  margin: 0;
  font-family: futura-pt, sans-serif;
  font-weight: 500;
  font-style: normal;
  min-height: 100vh;
  min-width: 100vw;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
